127.0.0.1            localhost        localhost.localdomain
{{ ansible_facts.enp6s0.ipv4.address }}      coredns  coredns.labo.local

172.16.3.21     master1
172.16.3.31     node1
172.16.3.32     node2