global_defs {
    enable_script_security
    script_user node
}
vrrp_script chk_haproxy {
    script "/usr/bin/pkill -0 haproxy"
    interval 2
    weight 2
}
vrrp_instance VI_1 {
    interface {{ iface_pri }}
    state BACKUP
    priority 100
    virtual_router_id 42
    unicast_src_ip {{ ka_backup_internal_ip }}
    unicast_peer {
        {{ ka_primary_internal_ip }}
    }
    authentication {
        auth_type PASS
        auth_pass AaP51Mdi
    }
    track_script {
        chk_haproxy
    }
    virtual_ipaddress {                  
       {{ kube_apiserver_vip }} dev {{ iface_pri }}
    }      
    notify_master /etc/keepalived/master.sh
}
