# /lib/systemd/system/vault.service
[Unit]
Description=vault - Manage Secrets & Protect Sensitive Data
Documentation=https://developer.hashicorp.com/vault
After=network.target
Wants=network-online.target

[Service]
Environment=VAULT_TOKEN=hvs.CAESIBsBqf9gueM1fMe7wSLBmZLrTpwe_27W2lwFOhCTgdyyGh4KHGh2cy5mR1RFdHppeHl4eG1qVWtxNkNPRVpSUUE
Type=notify
User=root
PermissionsStartOnly=true
ExecStart=/usr/local/bin/vault server -config /etc/vault/config.hcl
Restart=on-abnormal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target