{
  "CN": "system:node:{{ item.name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "JP",
      "L": "Nihombashi",
      "O": "system:nodes",      
      "OU": "System Labo",      
      "ST": "Tokyo"
    }
  ]
}
