[Unit]
Description=Ceph RADOS block device 
After=network.target

[Service]
ExecStart=/usr/bin/rbd map lv0 -p blk_data
Type=oneshot
RemainAfterExit=yes
#Restart=on-failure

[Install]
WantedBy = multi-user.target