- debug: msg="{{ ansible_facts.hostname }}"

- name: Set node roles
  shell: |
__ADD_NODELABEL_LIST__
    kubectl get nodes --show-labels
  args:
    chdir: "/home/{{ cluster_admin }}"    
  become: true
  become_user: "{{ cluster_admin }}"

