- debug: msg="{{ ansible_facts.hostname }}"

- name: Set node role
  shell: |
    kubectl label node {{ item }} --overwrite=true role=storage-node
    #kubectl taint node {{ item }} --overwrite=true storage-node="":NoSchedule
    
  args:
    chdir: "/home/{{ cluster_admin }}"  
  loop:
__SERVER_LIST__  

