# /etc/systemd/system/vault.service
[Unit]
Description=Vault container
Wants=network-online.target docker.service etcd-container.service
After=network-online.target docker.service etcd-container.service
StartLimitIntervalSec=600s

[Service]
Type=simple
Restart=always
RestartSec=10s
OOMScoreAdjust=-1000
ExecStartPre=-/usr/bin/docker kill vault
ExecStartPre=-/usr/bin/docker rm vault
ExecStart=/usr/bin/docker run --name=vault --rm \
  --network=host --uts=host \
  --log-driver=journald \
  --pull=never \
  --oom-kill-disable=true \
  --user=10000:10000 \
  --ulimit core=0 \
  --ulimit memlock=-1 \
  --read-only \
  --volume=/etc/neco:/etc/neco:ro \
  --volume=/etc/ssl/certs:/etc/ssl/certs:ro \
  --volume=/etc/vault:/etc/vault:ro \
  ghcr.io/cybozu/vault:1.18.1.1 server -config=/etc/vault/config.hcl
ExecStartPost=/usr/bin/neco vault unseal

[Install]
WantedBy=multi-user.target
